body{
    text-align: center;
    background-color: #FFFFFF;	
    width: 100%;	
}

.general-form{
    width: 60%;
    margin-left:20%;
    text-align: center;
}
.general-table{
    width: 100%;

}

td{
    width: 25%;
    float-left: 10%;
}

header{
    background-color: #FFFFFF;
    color: black;
    width: 80%;
    margin-left:10%;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 10%;
    text-align: left;
    padding-left: 15px;
}
.float-left{
    float:left;
}

textarea{
    width: 80%;
    max-width: 350px;
    min-width: 100px;

}
.container{
    width: 80%;
    min-height: 500px;
    margin-left:10%;
    border: 2px solid #CCC;
    border-radius: 3px;
    background-color: #E9E9E9;
}
.index-item{
    padding-top: 5px;
    padding-bottom: 5px;
}

.view-cart-link {
    padding-top: 60px;
    padding-right: 30px;
    font-size: 24pt;
    font-family: sans-serif;
    float:right;
}
.booklist{
	list-style: none;
}
.addreview{
	display: inline;
}

.addToWishList{
	display: inline;
}

.singleReview{
	box-shadow: 10px 10px 5px #888888;
    margin: 0 auto;
	border: 2px solid #CCC;
    border-radius: 3px;
    width:80%;
}
.singleReviewLeft{
	float:left;
	text-align: left;
	width: 10%;
	
}
.singleReviewRight{
	width: 80%;
	text-align: left;
	margin-left: 18%;
	word-break:break-all;
}
.titleReview{
	
	color: #000000;
    font: normal 20px Arial, Helvetica, sans;
    }
.reviewedDate{
	color: #A9A9A9;
    font: normal 12px Arial, Helvetica, sans;
    border-bottom:solid 1px #000000;
    
}
.reviewText{
	font: normal 16px Arial, Helvetica, sans;
	border-bottom:solid 1px #000000;
}
.likesDivReview{
	font: normal 14px Arial, Helvetica, sans;	
}
.nameOfReviewer{
	color: #000000;
	margin-left:3px;
    font: normal 16px Arial, Helvetica, sans;
}
.liked { 
    background: url(/bookstore/img/thumbsup.png);
	width: 32px;
	height: 36px;

}
.disliked { 
    background-image: url(/bookstore/img/thumbsdown.png);
	width: 32px;
	height: 36px;

}
.likedForm{
	display: inline;
}
.dislikedForm{
	display: inline;
}
.personalBooklist{
	box-shadow: 10px 10px 5px #888888;
    margin: 0 auto;
	border: 2px solid #CCC;
    border-radius: 3px;
    width:80%;
}
.personalBooklistLeft{
	float:left;
	text-align: left;
	width: 10%;
	
	
}
.personalBooklistRight{
	width: 80%;
	margin-top: 3px;
	text-align: left;
	margin-left: 18%;
	
}
.clear{
	clear: both;
}
.created{
	color: #A9A9A9;
    font: normal 12px Arial, Helvetica, sans;
    
}
.addNewList{
	border-bottom:solid 1px #000000;
}
.addBookToListForm{
	display: inline;
}
.viewMoreForm{
	display: inline;
}
form{
	display: inline;
}

#recaptcha_widget_div {
	width: 400px;
	margin: 0 auto;
}

.menu{
	background-color: #E9E9E9;
	border-bottom: 2px solid #CCC;
    border-radius: 3px;
    text-align: center;
    position: fixed;
}
.undermenu{
	margin-top: 5%;
}
.nav-pills>li{
	margin-left: 3%;
}