body{
    text-align: center;
    background-color: #FFFFFF;		
}

.general-form{
    width: 60%;
    margin-left:20%;
    text-align: center;
}
.general-table{
    width: 100%;

}

td{
    width: 25%;
    float-left: 10%;
}

header{
    background-color: #FFFFFF;
    color: black;
    width: 80%;
    margin-left:10%;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 10%;
    text-align: left;
    padding-left: 15px;
}
.float-left{
    float:left;
}

textarea{
    width: 80%;
    max-width: 350px;
    min-width: 100px;

}
.container{
    width: 80%;
    min-height: 500px;
    margin-left:10%;
    border: 2px solid #CCC;
    border-radius: 3px;
    background-color: #E9E9E9;
}
.index-item{
    padding-top: 5px;
    padding-bottom: 5px;
}

.view-cart-link {
    padding-top: 60px;
    padding-right: 30px;
    font-size: 24pt;
    font-family: sans-serif;
    float:right;
}